ul{
	list-style-type:square;
	padding:20px;
	margin-top:1px;
	background-color: beige;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
    text-transform:10px;
}

li:hover{color:yellow;
text-decoration:underline;
}
li{
	color:blue;
	margin-bottom:5px;
}
#main_aside{
	width: 208px;
	margin-top:15px;
	margin-right: 10px;
	border-width: 1px;
	border:1px solid gray;
	float: left;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
		box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
	
}
#image{
	padding: 20px;
	background: white;
	overflow: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
	margin-top:10px;
	width:480px;
	float:left;
			border:1px solid gray;
}
#topuser{
		padding: 20px;
	background: white;
	overflow: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
	margin-top:10px;
	width:208px;
	float:left;
	margin-left:7px;
			border:1px solid gray;
	
}


#most{
		padding: 20px;
	background: white;
	overflow: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
	margin-top:10px;
		border:1px solid gray;
		width:100%;
		float:left;
}
#new{
	padding: 20px;
	background: white;
	overflow: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
	margin-top:10px;
	width:100%;
	float:left;
			border:1px solid gray;
	
}